<!DOCTYPE html>
<html lang="en">

<head>
	<title>fail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" />
	<meta name="author">
	<!-- Style Sheets -->
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY="
	    crossorigin="anonymous" />
	<link rel="stylesheet" href="/assets/css/app.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	    crossorigin="anonymous"></script>
</head>

<body>
	<h3>User NOT authenticated</h3>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/auth/google">Sign in</a></li>
		<li><a href="/logout">Sign out</a></li>
		<li><a href="/success">Check to see if the user is authenticated</a></li>
	</ul>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs="
	    crossorigin="anonymous"></script>
	<script>
		$(document).foundation();
	</script>
</body>

</html>