<!DOCTYPE HTML>
<html>

<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" />
    <meta name="author">
    <!-- Style Sheets -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/97f0d0a6dd.js"></script>
</head>

<ul class="slideshow">
    <li><span>Image 01</span>
        <div></div>
    </li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
</ul>

<body>
    <div class="container">
        <div>
            <!-- Sign in Button-->
            <a href="/auth/google" id="sign-in-button" class="welcome button-hover-addcart button"><span>Sign In</span><i class="fa fa-google" aria-hidden="true"></i></a>
            <!--<span>Add to cart</span>-->
        </div>
        <!--Search Bar-->
        <div id="index-search">
            <header class="toolbar hero-search-filter">
                <div class="hero-search-filter-content">
                    <form class="hero-search-filter-form" action="">
                        <label for="findtext">Location</label>
                        <input id="findtext" class="hero-search-filter-form-find" type="text" />
                        <div class="divider">&nbsp;</div>
                        <label for="findlocate">Find</label>
                        <input id="findlocate" class="hero-search-filter-form-near" type="text" />
                        <button id="search-button" class="button"><i class="fa fa-search">Search</i></button>
                    </form>
                    <ul class="hero-search-filter-menu menu align-center">
                        <li><a href="#"><i class="fa fa-building" aria-hidden="true"></i> Cities</a></li>
                        <li><a href="#"><i class="fa fa-flag" aria-hidden="true"></i> Countries</a></li>
                        <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> History</a></li>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Tourist sites </a></li>
                    </ul>
                </div>
            </header>
        </div>
        <!--Sign In Modal-->
        <!--<div id="myModal" class="reveal" data-reveal>
            <h2 id="modalTitle"></h2>
            <!--<h2><a href="/auth/google">Sign in</a></h2>-->
            <!--<h2><a href="/logout">Sign out</a></h2>-->
            <!--<a class="close-button" data-close>&#215;</a>
        </div>-->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
    <script>
        $(document).foundation();
        // $(document).ready(function () {
        //     console.log("ready");
        //     $("#myModal").foundation("open");
        // });
    </script>
</body>

</html>