<!DOCTYPE html>
<html lang="en">

<head>
	<title>success</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" />
	<meta name="author">
	<!-- Style Sheets -->
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY="
	    crossorigin="anonymous" />
	<link rel="stylesheet" href="/assets/css/app.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	    crossorigin="anonymous"></script>
</head>

<body>
	<header class="sticky-shrinknav-header">
		<h1 class="sticky-shrinknav-header-title">sticky-shrinknav</h1>
		<ul class="menu align-center sticky-shrinknav-menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</header>


	<div id="push-div"></div>

	<!--<div class="top-bar-container" data-sticky-container>
		<div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">Nansen</li>
						<li class="has-submenu">
							<a href="/">Home</a>-->



	<!--<ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>-->



	<!--</li>
						<li><a href="#">Passport</a></li>
						<li><a href="/logout">Sign out</a></li>
					</ul>
				</div>




	<!--<ul class="menu">
						<li><input type="search" placeholder="Search"></li>
						<li><button type="button" class="button">Search</button></li>
					</ul>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs="
	    crossorigin="anonymous"></script>
	<script>
		$(document).foundation();
		$(function () {
			$(window).scroll(function () {
				var winTop = $(window).scrollTop();
				if (winTop >= 30) {
					$("body").addClass("sticky-shrinknav-wrapper");
				} else {
					$("body").removeClass("sticky-shrinknav-wrapper");
				}
			});
		});
	//Google Geolocator API	
    function initMap() {
        var geocoder = new google.maps.Geocoder;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            geocoder.geocode({'location': pos}, function(results, status) {
                console.log(results)
            });
          });
        };
    };

	//AJAX for user info
	// $.ajax(
	// 	{
	// 		type: "Get",
	// 		url: "/api/user",
	// 		success: function(response) {
	// 			var data = response;
	// 			console.log(data);
	// 		}
	// 	});
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCflzUUCLlSmZfOcRuo12ZM10u42uSM160&callback=initMap">
    </script>


</body>
</html>